@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cardo'), url(/fonts/Cardo-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('Cardo Bold'), url(/fonts/Cardo-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Cardo';
    font-style: italic, oblique;
    font-weight: 400;
    font-display: swap;
    src: local('Cardo Italic'), url(/fonts/Cardo-Italic.ttf) format('ttf');
}